.main-container{
    margin-top: 116px;
    width: 100%;
}

.input-datetime{
    width: 100%;
    /* min-height: 100px; */
    padding: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-datetime__part{
    /* width: 50%; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    /* text-shadow: -0.01px 0 rgb(40, 55, 168), 0 0.01px rgb(40, 55, 168), 0.01px 0 rgb(40, 55, 168), 0 -0.01px rgb(40, 55, 168); */
}

.input-datetime__part.chi__tiet{
    /* width: 50%; */
    /*font-family: 'Courier New', Courier, monospace;*/
    font-size: 16px !important;
    /*font-weight: bold;*/
    /*margin: 0 auto;*/
    /* text-shadow: -0.01px 0 rgb(40, 55, 168), 0 0.01px rgb(40, 55, 168), 0.01px 0 rgb(40, 55, 168), 0 -0.01px rgb(40, 55, 168); */
}

.total-ammount{
    transform: translateY(-10px);
    height: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    color:red;
}

.input-datetime__part input{
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    border-radius: 2px;
    border: 2px solid #ba1f1f;
    margin: 0 auto;
}

button{
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    border-radius: 2px;
    border: 2px solid #ba1f1f;
    margin: 0 auto;
    padding: 2px 15px ;
    background-color: rgb(61, 65, 16);
    color: white;
    font-weight: bold;
}

.input-datetime__part button:hover{
    opacity: 0.5;
}

.styled-table {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 1.5em;
    font-family: sans-serif;
    min-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}